<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SpongeBob Episodes</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FinalProjectASP.NetcoreMVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" style="color:white;" asp-area="" asp-controller="Home" asp-action="Index">FinalProjectASP.NetcoreMVC</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" style="color:white;" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Login buttons and links -->
@using Episode.Models;
            @using Microsoft.AspNetCore.Identity
            @inject SignInManager<User> signInManager

            @if (signInManager.IsSignedIn(User))
            {
                // signed-in user - Log Out button and username
                <li class="nav-item">
                    <form method="post" asp-action="LogOut" asp-controller="Account"
                          asp-area="">
                        <input type="submit" value="Log Out"
                               class="btn btn-outline-light" />
                        <span class="text-light">@User.Identity.Name</span>
                    </form>
                </li>
            }
            else
            {
                var action = ViewContext.RouteData.Values["action"]?.ToString();

                // anonymous user - Register link and Log In button
                <li class="nav-item @Nav.Active("Register", action)">
                    <a asp-action="Register" asp-controller="Account"
                       asp-area="" class="nav-link">
                        <span class="fas fa-edit"></span>&nbsp;Register
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-action="Login" asp-controller="Account"
                       asp-area="" class="btn btn-outline-light">Log In</a>
                </li>
            }
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container" style="color:white;">
            &copy; 2024 - FinalProjectASP.NetcoreMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
