html {
  font-size: 14px;
}
body {
    background-color: rgb(247, 244, 37);
    margin-bottom: 60px;
}
footer {
    background-color: rgb(117, 58, 30);
    color: white;
}
header {
    background-color: rgb(117, 58, 30);
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
