@model Episode

@{
    ViewData["Title"] = "Delete Episode";
}

<h1 class="display-4">Delete</h1>
<ul class="list-group mb-2">
    <li class="list-group-item">
        @Model.Title
    </li>
</ul>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="EpisodeId" />
    <button type="submit" class="btn btn-dark">Delete</button>
    <a asp-action="Index" asp-controller="Episode" class="btn btn-outline-dark">Cancel</a>
</form>
